/* http://www.subcide.com/examples/creating-a-css-layout-from-scratch/css/masrter.css */
html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	background: #ffffff;
	text-align: center;
}

.hidden {
	display: none;
}

#page-container {
	width: 760px;
	margin: auto;
	text-align: left;
	/*border: dotted;*/
	border-style: 1px solid #c9c9c9:
}

/* Main Navigation */

#main-nav { height: 35px; 	background-color: #000000; }

#main-nav ul { margin: 0px; padding: 10px; } 

/*

#main-nav { padding-left: 11px; overflow: hidden; } 
*/

#main-nav li { float: left; list-style-type: none;}

#main-nav li a {
	color: #f1f1f1;
	display: block;
	padding: 10px;
	margin: 0px;
}

#main-nav li a:hover {
	color: #f1f1f1;
	display: block;
	padding: 10px;
	background-color: white;
	text-decoration: none;
	margin: 0px;
}

/*
#main-nav li#about,
#main-nav li#about a { width: 71px; background-image: url(../images/nav/about.gif); }

#main-nav li#services,
#main-nav li#services a { width: 84px; background-image: url(../images/nav/services.gif); }

#main-nav li#portfolio,
#main-nav li#portfolio a { width: 95px; background-image: url(../images/nav/portfolio.gif); }

#main-nav li#contact,
#main-nav li#contact a { width: 106px; background-image: url(../images/nav/contact.gif); }
*/

/*
body.about li#about,
body.about li#about a,
body.about li#about a:hover,
body.services li#services,
body.services li#services a,
body.services li#services a:hover,
body.portfolio li#portfolio,
body.portfolio li#portfolio a,
body.portfolio li#portfolio a:hover,
body.contact li#contact,
body.contact li#contact a,
body.contact li#contact a:hover {
	background-position: 0 -100px;
}
*/
body.about #header {
	height: 100px;
	background: #ff6600;
		    /*url(../images/logo/about.jpg);*/
}

h1 {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 57px;
	padding-right: 31px;
}

h2 {
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
}

h4 {
	margin: 0;
	padding: 0;
}

.sublogo {
	margin: 0;
	padding: 0;
	float :right;
	margin-top: 57px;
	padding-right: 31px;
}

#sidebar-a {
	float: right;
	width: 200px;
	background-color: #c0c0c0;
	height: 450px;
}

#sidebar-a .padding {
	padding: 25px;
}

#content {
	margin-right: 200px;
}

#content .padding {
	padding: 25px;
}

#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#footer {
	clear: both;
	height: 66px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	color: #f1f1f1;
	border-top: 1px solid #efefef;
	padding: 13px 25px;
	line-height: 18px;
	background-color: #666666;
}

#footer #altnav {
	width: 350px;
	float: right;
	text-align: right;
	padding-top: 13px;
}

#footer #copyleft {
	padding-top: 13px;
}

#footer a {
	color: #f1f1f1;
	text-decoration: none;
}

#footer a:hover {
	color: #ff6600;
}
